// ========variables========
$white: rgb(218,214,214);
$red: rgb(150, 10, 8);
$brown: rgb(67, 37, 19);

@import "partials/setup.scss";

// =========General styles==========

html {
    font-size: 62.5%;
}

body {
    max-width: 1280px;
    width: 100%;
    background: grey;
    margin: 0 auto;
    background: linear-gradient(to right, #005aa7, #9fb5bb);
}

img {
    max-width: 100%;
    display: block;
}

h1 {
    color: $white;
    text-shadow: -1px 3px rgba(150, 10, 8,.5), -1px 2px rgba(150, 10, 8,.5);
    font-size: 7rem;
    text-align: center;
    max-width: 600px;
    font-family: 'Sail', cursive;
    padding: 40px;
    padding-top: 100px;

    @media(max-width:570px) {
        padding-top: 80px;
        font-size: 6rem;
    }

    @media(max-width:487px) {
        font-size: 5rem;
        padding-top: 50px;
    }

    @media(max-width:414px) {
        padding: 0;
        padding-bottom: 40px;
        padding-top: 70px;
    }

    @media(max-width:366px) {
        font-size: 4.5rem;
    }

    @media(max-width:338px) {
        font-size: 4.4rem;
        padding-bottom: 30px;
    }

    @media(max-width:320px) {
        padding-top: 40px;
    }
}

.hide {
    display: none;
}

h1.congratulations {
    padding-top: 200px;

    @media(max-width:500px) {
        padding-top: 150px;
    }
}

p {
    color:#e8e7e7;
    font-size: 2.4rem;
    text-shadow: 1px 0 0 #b80c09;
    text-align: center; 
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1rem;
    line-height: 4rem;
    max-width: 700px;
    width: 100%;

    @media(max-width: 667px) {
        max-width: 470px;
        font-size: 2rem;
        margin: 0 auto;
    }

    @media(max-width: 570px) {
        max-width: 300px;
    }

    @media(max-width: 366px) {
        width: 80%;
        font-size: 1.8rem;
    }
}

button {
    text-align: center;
    margin-top: 40px;
    width: 80%;
    border: none;
    background-color: rgba(150, 10, 8,1);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    color: $white;
    font-family: 'Roboto', sans-serif;
    font-size: 2.4rem;
    display: inline-block;
    padding: 15px 0;

    @media(max-width: 667px) {
        font-size: 2rem;
    }
}

// =========Header Styles============

header .wrapper {
    max-width: 700px;
    width: 80%;
    margin: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media(max-width: 487px){
        width: 90%;
    }
}

// ==========Gallery Styles===========

.gallery .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 90%;
    margin: 0 auto;
}

.gallery .wrapper.fullHeight {
    max-height: 100vh;
    min-height: 100vh;
}

.gallery ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    list-style-type: none;
    padding: 0;

        @media(max-width: 774px) {
            grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        }

        @media(max-width: 420px) {
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        }

        @media(max-width: 353px) {
            grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
        }
    }

.gallery li {
    border-radius: 15%;
    overflow: hidden;
    transition: bottom .7s ease-out;
    transition-delay: .3s;
    position: relative;
    bottom: 0;
    margin: 4px;
    border: 2px solid white;
    box-shadow: 2px 2px 1px rgba(0,0,0,.35);
}

.hidden {
    position: relative;

    &::before {
        content: '';
        background-color:white;
        background-image: linear-gradient(90deg, rgba(200,0,0,.5), 50%, transparent 50%),
        linear-gradient(0deg,rgba(200,0,0,.5) 50%, transparent 50%);
        background-size:25px 25px;
        border: 1px solid white;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0; 
    }
}

.gallery li.offGrid {
    bottom: 1500px;
}

.gallery li.notClickable {
    pointer-events: none;
}


