@import "partials/setup.scss";


html {
    font-size: 62.5%;
}

body {
    max-width: 1280px;
    background: grey;

}

img {
    max-width: 100%;
    display: block;
}

.gallery {
    background-image: url(../assets/woodenTable.jpg);
    background-size: cover;
    /* background: grey; */
    padding-top: 50px;
    padding-bottom: 50px;
  }

.wrapper {
    max-width: 700px;
    margin: 20px;

    // background: grey;
    margin: 0 auto;
   
}



ul {
    list-style-type: none;
    padding: 0;
    // max-height: 30vh;
    // min-height: 300px;

}

.gallery ul {
    display: grid;
    // grid-template-columns: repeat(4, minmax(0,25vw));
    // grid-template-rows: repeat(3, minmax(0,22.5vw));
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    // min-height: 0;
    // min-width: 0;
    }

// .galleryItem1 {
//     grid-row-start: 1;
//     grid-column-start: 1;
//     grid-column-end: 2;
// }

// .galleryItem2 {
//     grid-row-start: 1;
//     grid-column-start: 2;
//     grid-column-end: 3;
// }

// .galleryItem3 {
//     grid-row-start: 1;
//     grid-column-start: 3;
//     grid-column-end: 4;
// }

// .galleryItem4 {
//     grid-row-start: 1;
//     grid-column-start: 4;
//     grid-column-end: 5;
// }

// .galleryItem5 {
//     grid-row-start: 2;
//     grid-column-start: 1;
//     grid-column-end: 2;
// }

// .galleryItem6 {
//     grid-row-start: 2;
//     grid-column-start: 2;
//     grid-column-end: 3;
// }

// .galleryItem7 {
//     grid-row-start: 2;
//     grid-column-start: 3;
//     grid-column-end: 4;
// }

// .galleryItem8 {
//     grid-row-start: 2;
//     grid-column-start: 4;
//     grid-column-end: 5;
// }

// .galleryItem9 {
//     grid-row-start: 3;
//     grid-column-start: 1;
//     grid-column-end: 2;
// }

// .galleryItem10 {
//     grid-row-start: 3;
//     grid-column-start: 2;
//     grid-column-end: 3;
// }

// .galleryItem11 {
//     grid-row-start: 3;
//     grid-column-start: 3;
//     grid-column-end: 4;
// }

// .galleryItem12 {
//     grid-row-start: 3;
//     grid-column-start: 4;
//     grid-column-end: 5;
// }

.gallery li {
    border-radius: 15%;
    overflow: hidden;
    transition: .7s ease-out;
    transition-delay: .3s;
    position: relative;
    bottom: 0;
    margin: 2px;
    border: 2px solid white;
}

.hidden {

    position: relative;

    &::before {
        content: '';
        background-color:white;
        background-image: linear-gradient(45deg, rgba(200,0,0,.3) 50%, transparent 50%),
        linear-gradient(90deg,rgba(200,0,0,.3) 50%, transparent 50%);
        background-size:25px 25px;
        border: 1px solid white;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0; 
    }
}

.hide {
    display: none;
}

.gallery li.offGrid {
    // position: relative;
    bottom: 1500px;
}
