// font-family: 'Sail', cursive;
// font-family: 'Merriweather', serif;


$white: rgb(218,214,214);
$red: rgb(150, 10, 8);
$brown: rgb(67, 37, 19);

// header {
//     h1 {
//         // background-color: red;
//         &:first-of-type {
//             font-family: 'Great Vibes', cursive;
//             // background-color: green;
//         }
//         &:nth-of-type(2){
//             font-family: 'Shrikhand', cursive;
//         }
//         &:nth-of-type(3){
//             font-family: 'Yeseva One', cursive;
//         }
//         &:nth-of-type(4){
//             font-family: 'Oleo Script Swash Caps', cursive;
//         }
//         &:last-of-type{
//             font-family: 'Sail', cursive;
//         }
//     }
// }



@import "partials/setup.scss";


html {
    font-size: 62.5%;
}

body {
    max-width: 1280px;
    width: 100%;
    background: grey;
    margin: 0 auto;
    background: linear-gradient(to right, #005aa7, #9fb5bb 90%);

}

img {
    max-width: 100%;
    display: block;
}

// .mainWrapper { 
//     padding-top: 100px;
//     width: 80%;
// }

// header {
//     // min-height: 100vh;
//     // background-image: url(../assets/woodenTable.jpg);
//     // background: linear-gradient(to right, #1f4037, #99f2c8);
    
//     // background-size: cover;
// }

// main {
    
// }

// .headerPlate {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: fit-content;
//     margin: 0 auto;
//     background-color: rgba(218,214,214,0.25);
    
    // background-color: red;
    // position: relative;
    // z-index: 10;
// }

// .instructions {
    // background-color: rgba(218,214,214,0.25);
    // background-color: rgba(67, 37, 19, 0.6);

    // margin-top: 50px;
    // padding: 20px;
// }

h1 {
    // color:#e8e7e7;
    // color: $red;
    color: $white;
    // text-shadow: 1px 1px rgba(218,214,214,0.5);
    text-shadow: -1px 3px rgba(150, 10, 8,.5), -1px 2px rgba(150, 10, 8,.5);
    font-size: 7rem;
    text-align: center;
    width: 600px;
    font-family: 'Sail', cursive;
    padding: 40px;
    padding-top: 100px;
    // background-color: rgba(218,214,214,.2);
    // background-color: rgba(67, 37, 19, 0.6);
    // margin: 0 auto;
}

p {
    color:#e8e7e7;
    font-size: 2.4rem;
    text-shadow: 1px 0 0 #b80c09;
    text-align: center; 
    font-family: 'merriweather',serif;
    letter-spacing: 0.1rem;
    line-height: 4rem;
    // margin-top: 20px;
    // margin-bottom: 20px;
    // background-color: rgba(218,214,214,.2);
    // padding: 5px;
    max-width: 600px;
    // margin: 0 auto;
}



header .wrapper {
    max-width: 700px;
    margin: 20px;

    // background: grey;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

// .gallery * {
//     border: 1px solid tomato;
// }

.gallery .wrapper {
    // max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    // max-height: 100vh;
    // min-height: 100vh;
    // height: 100vh;
    width: 90%;
    margin: 0 auto;
}

.gallery .wrapper.fullHeight {
    max-height: 100vh;
    min-height: 100vh;
    // height: 100vh;
}


.gallery ul {
    display: grid;
    // grid-template-columns: repeat(4, minmax(0,25vw));
    // grid-template-rows: repeat(3, minmax(0,22.5vw));
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    // min-height: 0;
    // min-width: 0;
    list-style-type: none;
    padding: 0;

        @media(max-width: 774px) {
            grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        }

        @media(max-width: 420px) {
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        }

        @media(max-width: 353px) {
            grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
        }
    
    }

button {
    // margin: 0 auto;
    text-align: center;
    margin-top: 40px;
    width: 100%;
    // height: 40px;
    border: none;
    background-color: rgba(150, 10, 8,1);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    color: $white;
    font-family: 'merriweather',serif;
    font-size: 2.4rem;
    display: inline-block;
    padding: 15px 0;

}

// .galleryItem1 {
//     grid-row-start: 1;
//     grid-column-start: 1;
//     grid-column-end: 2;
// }

// .galleryItem2 {
//     grid-row-start: 1;
//     grid-column-start: 2;
//     grid-column-end: 3;
// }

// .galleryItem3 {
//     grid-row-start: 1;
//     grid-column-start: 3;
//     grid-column-end: 4;
// }

// .galleryItem4 {
//     grid-row-start: 1;
//     grid-column-start: 4;
//     grid-column-end: 5;
// }

// .galleryItem5 {
//     grid-row-start: 2;
//     grid-column-start: 1;
//     grid-column-end: 2;
// }

// .galleryItem6 {
//     grid-row-start: 2;
//     grid-column-start: 2;
//     grid-column-end: 3;
// }

// .galleryItem7 {
//     grid-row-start: 2;
//     grid-column-start: 3;
//     grid-column-end: 4;
// }

// .galleryItem8 {
//     grid-row-start: 2;
//     grid-column-start: 4;
//     grid-column-end: 5;
// }

// .galleryItem9 {
//     grid-row-start: 3;
//     grid-column-start: 1;
//     grid-column-end: 2;
// }

// .galleryItem10 {
//     grid-row-start: 3;
//     grid-column-start: 2;
//     grid-column-end: 3;
// }

// .galleryItem11 {
//     grid-row-start: 3;
//     grid-column-start: 3;
//     grid-column-end: 4;
// }

// .galleryItem12 {
//     grid-row-start: 3;
//     grid-column-start: 4;
//     grid-column-end: 5;
// }

.gallery li {
    border-radius: 15%;
    overflow: hidden;
    transition: bottom .7s ease-out;
    transition-delay: .3s;
    position: relative;
    bottom: 0;
    margin: 4px;
    border: 2px solid white;
    box-shadow: 2px 2px 1px rgba(0,0,0,.35);
}

.hidden {

    position: relative;

    &::before {
        content: '';
        background-color:white;
        background-image: linear-gradient(90deg, rgba(200,0,0,.5), 50%, transparent 50%),
        linear-gradient(0deg,rgba(200,0,0,.5) 50%, transparent 50%);
        background-size:25px 25px;
        border: 1px solid white;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0; 
    }
}

.hide {
    display: none;
}

.gallery li.offGrid {
    // position: relative;
    bottom: 1500px;
}

.gallery li.notClickable {
    // &::after {
    //     content: '';
    //     position: absolute;
    //     top: 0;
    //     bottom: 0;
    //     left: 0;
    //     right: 0;
    //     z-index: 10;
    // }
    pointer-events: none;
}
